body {
  background-color: pink;
  padding: 5%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
}


.container {
  margin: auto;
  width: 50%;
  background-color: beige;
  padding: 3%;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

label {
  margin-top: 2%;
  margin-bottom: 2%;
}

input, textarea {
  color: pink;
  max-width: 600px;
}

input[type="submit"] {
  width: 100px;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 2%;
  margin: auto;
  background-color: white;
  margin-top: 5%;
  text-align: center;
}

input[type="submit"]:hover {
  color: white;
  background-color: pink;
}

.custom {
  background-color: beige;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 3%;
  margin-top: 3%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: pink;
}

button {
  width: 100px;
  border: 1px solid pink;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
